html,body {
    font-family: 'Alegreya', sans-serif;
    font-size: 18px;
    background: #ffffff;
    color: rgb(0, 0, 0);
  }


  nav {
    padding: 2% 3em;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #d83e58;
}

a:hover {
    color: #2cbf89;
}

li {
    padding-right: 3em;
}

.logo {
    padding: 0 2em;
    display:flex;
    width: 50px;
}
.links {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin-right: 5em;
}

  .jumbo {
      display:flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      background-color: #fff;
      /* min-height: 100vh; */
      flex-wrap:wrap;
      background-image: url("./background.jpg");
  }

  .jumbo.text {
      padding-top: 4em;
      padding-left: 5em;
      display:flex;
      flex-direction:column;
      justify-content: unset;
  }

  .jumbo-image {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        margin: 0 auto;
        margin-top: -40px;
        width: 50%;
  }
    

  h1,h2 {
    font-weight: 600;
    text-align: left;
  }
  h1 {
    font-size: 3.5em;
    padding-bottom: 0.7em;
    }

  h2 {
    color: rgb(51, 51, 51);
    font-size: 3em;
    text-align: left;
    padding-bottom: 0.6em;
  }

  .txt-rotate {
      color:#d83e58;
  }

  p {
      font-size: 0.9em;
      color: #363636;
      text-align: left;
      line-height: 150%;
  }

  .intro {
      font-weight: bold;
      color: rgb(17, 17, 17);
  }
  button {
      background: linear-gradient(to bottom left, #d10c2c,#d83e58 );
      border-radius: 25px;
      padding: 3% 8%;
      margin-top: 2em;
      border-style: none;
      font-family: 'Alegreya', sans-serif;
      color: white;
      font-size: 1em;
      width:40%;
  }

    button:hover {
        background-color: black;
    }
  .about_cdoa {
      padding-top: 5em;
      padding-left: 5em;
      background-color: #2cbf89;
      display: flex;
      flex-direction: row-reverse;
      padding-bottom: 3em;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .friendsphoto {
    display: flex;  
    width:40%;
    align-self: center;
    align-items: flex-start;
  }

  .scoring {
      display:flex;
      padding-top: 5em;
      background-color: #A6864b;
      padding-bottom: 3em;
  }

  .scoring button {
      background-color: black;
  }