html,body {
    font-family: 'Alegreya', sans-serif;
    font-size: 18px;
    background: #ffffff;
    color: rgb(0, 0, 0);
  }

  nav {
    padding: 2% 3em;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 0 3em;
    display:flex;
    width: 50px;
}
.left-links {
    display:flex;
    flex-direction:row;
}

.right-links {
    justify-content: right;
}

  .jumbo {
      padding-top: 1%;
      display:flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      background-color: #fff;
      padding: 0 3em;
  }

  .jumbo.text {
      padding-top: 5em;
      display:flex;
      flex-direction:column;
      justify-content: unset;
  }

  .jumbo-image {
        display: flex;
        max-width: 100%;
  }

    

  h1,h2 {
    font-weight: 600;
    text-align: left;
  }
  h1 {
    font-size: 3.5em;
    padding-bottom: 0.7em;
    }

  h2 {
    color: rgb(51, 51, 51);
    font-size: 1em;
    text-align: left;
    padding-bottom: 0.6em;
  }

  .txt-rotate {
      color:#d83e58;
  }

  p {
      font-size: 0.9em;
      color: #363636;
      text-align: left;
      line-height: 150%;
  }

  button {
      background: linear-gradient(to bottom left, #d10c2c,#d83e58 );
      border-radius: 25px;
      padding: 3% 8%;
      margin-top: 2em;
      border-style: none;
      font-family: 'Alegreya', sans-serif;
      color: white;
      font-size: 1em;
      width:40%;
  }