html,body {
    font-family: 'Alegreya', sans-serif;
    font-size: 18px;
    background: #ffffff;
    color: rgb(0, 0, 0);
  }


  nav {
    padding: 2% 3em;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #d83e58;
}

a:hover {
    color: #2cbf89;
}

li {
    flex-wrap:wrap;
    padding-right: 3em;
    display: flex;
}

.logo {
    flex-wrap:wrap;
    padding: 0 2em;
    display:flex;
    width: 50px;
}
.links {
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin-right: 5em;
}

  .jumbo {
      display:flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      background-color: #fff;
      background-image: url("./background.jpg");
  }

  .jumbo.text {
      padding-top: 4em;
      padding-left: 5em;
      display:flex;
      flex-direction:column;
      justify-content: unset;
  }

  .jumbo-image {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        margin: 0 auto;
        margin-top: -40px;
        width: 50%;
  }
    

  h1,h2 {
    font-weight: 600;
    text-align: left;
  }
  h1 {
    font-size: 3.5em;
    padding-bottom: 0.7em;
    }

  h2 {
    color: rgb(51, 51, 51);
    font-size: 3em;
    text-align: left;
    padding-bottom: 0.6em;
  }

  .txt-rotate {
      color:#d83e58;
  }

  p {
      font-size: 0.9em;
      color: #363636;
      text-align: left;
      line-height: 150%;
  }

  .intro {
      font-weight: bold;
      color: rgb(17, 17, 17);
  }
  button {
      background: linear-gradient(to bottom left, #d10c2c,#d83e58 );
      border-radius: 25px;
      padding: 3% 8%;
      margin-top: 2em;
      border-style: none;
      font-family: 'Alegreya', sans-serif;
      color: white;
      font-size: 1em;
      width:40%;
  }

    button:hover {
        background-color: black;
    }
  .about_cdoa {
      padding-top: 5em;
      padding-left: 5em;
      background-color: #2cbf89;
      display: flex;
      flex-direction: row-reverse;
      padding-bottom: 3em;
      padding-left: 5em;
      padding-right: 5em;

  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .text-wrapper button {
      border-radius: 5em;
      width: 10em;
      padding: 0.9em 0;
  }

  .friendsphoto {
    display: flex;  
    width:40%;
    align-self: center;
    align-items: flex-start;
  }

  .scoring {
      display:flex;
      padding-top: 5em;
      padding-left: 5em;
      padding-right: 5em;
      background-color: #A6864b;
      padding-bottom: 3em;
  }

  .innerbutton {
    border-radius: 5em;
    width: 10em;
    padding: 0.9em 0
  }

  .boss {
    display:flex;
    flex-direction: row-reverse;
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    background-color: #056cf2;
    padding-bottom: 3em;
}


/* Media Queries here */
@media only screen and (max-width: 800px) {
    .jumbo.text {
        display:flex;
        width: 40%;
        margin-bottom: 3em;
    }
li {
    font-size: 0.6em;
}
nav {
    display: flex;
    flex-direction: row;
}
.links {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0;
}
h1 {
    font-size: 2.5em;
}
.jumbo-image {
    display:flex;
    width: 20%;
    align-self: center;
    padding: 0 0;
    margin: 0 4em;
}

button {
    width: 60%;
}

.jumbo {
    margin-left: -1em;
}

.about_cdoa, .scoring, .boss {
padding: 1em 2.5em;
}

#headerimage {
    width: 13em;
}
    }
@media only screen and (max-width: 600px) {
    html,body {
        width: 100%;
        margin: 0 auto;
    }

    nav {
        display: flex;
        flex-direction: column;
    }
    .logo {
        margin: 0 auto;
        padding-top: 15px;
    }
    .links {
        display: none;
    }
    .jumbo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 0;
        padding-top: 100px;
        min-height: 51vh;
        width: 100%;
    } 
    img .jumbo-image {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0;
        padding: 0 0;
        width: 100%; 
    }

    .jumbo.text {
        padding: 0 2em;
        padding-top: 5.2em;
        margin: 0 0;
        width: 100%;
    }

    #headerimage {
        width: 20vh;
        margin: 0 auto;
        margin-top: 1em;
        padding: 0 0;
    }

    h1 {
        font-size: 2.2em;
        text-align: center;
    }

    #intro-text {
        display: none;
    }

    .intro {
        display: none;
    }

    button {
        width: 15em;
        margin: 0 auto;
    }

   

    .about_cdoa, .scoring, .boss {
        display: flex;
        padding: 2em 1.2em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2, p {
        text-align: center;
    }
    p {
        font-size: 1.4em;
    }
    button.innerbutton {
        width: 100%;
        padding: 5px 0;
        margin: 0 auto;
        margin-top: 10px;
        background-color: aqua;
    }
    
   
    

} 

